//-----------------
// Variables
//-----------------
@import "bulma/sass/utilities/initial-variables";
@import "bulma/sass/utilities/functions";

//-----------------
// Fonts
//-----------------
$family-serif: 'Roboto', sans-serif;
$family-second: 'Open Sans', sans-serif;
$family-primary: $family-serif;

//-----------------
// Colors
//-----------------
$azul_claro: #095BA2;
$azul_hover: #0172B9;
$azul_escuro: #0F218B;
$azul_verde: #068E98;
$cinza: #333233;